<html>
<head>
	<title>Baking Fawder</title>
	<link rel="stylesheet" href="themes/theFawder.min.css" />
	<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="stylesheets/jquery.mobile.structure-1.4.5.min.css" />
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="javascripts/jquery.mobile-1.4.5.min.js"></script>
    <script src="javascripts/script.js"></script>
</head>
<body>
	<div id="login" data-role="page">
		<div data-role="header">
			<h1>Log In</h1>
            <nav data-role="navbar">
                <ul>
                    <li><a href="/" class="ui-btn-active ui-state-persist">Sign In</a></li>
                    <li><a href="/signUp">Sign Up</a></li>
                    <li><a href="#" onclick="window.location='/facebook';">Sign with Facebook</a></li>
                </ul>
            </nav>
		</div>
		<div data-role="content">
            <form id="loginForm">
                <input id="username" type="text" placeholder="Username" required/>
                <input id="pass" type="password" placeholder="Password" required/>
                <input type="submit" value="Log in"/>
            </form>

            <div id="message"></div>
		</div>
        <div data-role="footer">
			<h1>&copy; FA</h1>
		</div>
	</div>
</body>
</html>